@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&family=Montserrat:wght@400;700&display=swap');

// Fonts

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Hind Madurai', sans-serif;

// Colors

$bg-color: #eeeeee;
$text-color: #333333;

// Other
$bd: 2px solid #222222;